/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 12, 2022, 8:26:29 PM
    Author     : User
*/
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
    background-image: url(https://i.postimg.cc/WzHH3ymG/rumman-amin-LNn6-O-Mt730-unsplash.jpg);
}
.wrapper {
	width: 100%;
    height: auto;
	margin: auto;
}
header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://i.postimg.cc/WzHH3ymG/rumman-amin-LNn6-O-Mt730-unsplash.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.logo {
	float: left;
}
.logo img {
	width: 20%;
	padding: 15px 10px;
}
.welcome-text {
	position: absolute;
	width: max-content;
	height: auto;
	margin: 12% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h1 span {
	color: #ffd000;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 40px 65px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 70px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
        height: auto;
	}
	.logo {
		float: none;
		width: 20%;
		text-align: center;
		margin: 20px;
	}
	img {
		width: 0;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 50%;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}
